.w1l8og0p{position:relative;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.s1l0kfn6{position:absolute;background:rgba(255,0,0,0.3);top:0;left:-20px;right:-20px;bottom:0;z-index:1;opacity:0;pointer-events:none;}
.n12hk5n4{padding:10px;text-align:center;display:block;}
