.wxu1dbz{padding:24px;position:absolute;top:0;left:0;right:0;text-align:center;}
.cspwkss{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;position:relative;max-width:80vw;margin:0 auto;}
.sk9adx5{position:absolute;top:0;right:0;}
.pr6y9vm{position:absolute;top:-40px;left:50%;padding:15px;}
