.b15pkvwg.b15pkvwg.b15pkvwg{position:fixed;left:0px;right:0px;bottom:0px;background:rgba(0,0,0,0.5);color:white;z-index:2;text-align:center;pointer-events:none;padding:136px;}
.tfdhpe3.tfdhpe3.tfdhpe3{position:fixed;left:0;right:0;top:0;background:rgba(0,0,0,0.75);z-index:10;text-align:center;pointer-events:none;padding:136px;color:white;}
